<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (patient(); as patientRef) {
      <div>
        <h2 data-cy="patientDetailsHeading"><span jhiTranslate="healthCareApp.patient.detail.title">Patient</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ patientRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.nom">Nom</span></dt>
          <dd>
            <span>{{ patientRef.nom }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.lastName">Last Name</span></dt>
          <dd>
            <span>{{ patientRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.firstName">First Name</span></dt>
          <dd>
            <span>{{ patientRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.dateBirth">Date Birth</span></dt>
          <dd>
            <span>{{ patientRef.dateBirth | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.phone">Phone</span></dt>
          <dd>
            <span>{{ patientRef.phone }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.email">Email</span></dt>
          <dd>
            <span>{{ patientRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.address">Address</span></dt>
          <dd>
            <span>{{ patientRef.address }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.bloodType">Blood Type</span></dt>
          <dd>
            <span>{{ patientRef.bloodType }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.allergies">Allergies</span></dt>
          <dd>
            <span>{{ patientRef.allergies }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.notes">Notes</span></dt>
          <dd>
            <span>{{ patientRef.notes }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.emergencyContactName">Emergency Contact Name</span></dt>
          <dd>
            <span>{{ patientRef.emergencyContactName }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.emeregencyContactPhone">Emeregency Contact Phone</span></dt>
          <dd>
            <span>{{ patientRef.emeregencyContactPhone }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.chronicdiseases">Chronicdiseases</span></dt>
          <dd>
            <span>{{ patientRef.chronicdiseases }}</span>
          </dd>
          <dt><span jhiTranslate="healthCareApp.patient.medicalHistory">Medical History</span></dt>
          <dd>
            <span>{{ patientRef.medicalHistory }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/patient', patientRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
